html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body:before {
  background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 68em;
  opacity: 0.4;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1; }

@font-face {
  font-family: "simpsons";
  src: url("../simpsonfont/Simpsonfont.ttf"); }

body {
  max-width: 100;
  margin-left: auto;
  margin-right: auto; }
  body::after {
    clear: both;
    content: "";
    display: table; }

main {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  main:last-child {
    margin-right: 0; }

.header {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0;
  background: url(../assets/cloudBackground.jpg) no-repeat center center transparent;
  background-size: cover;
  font-family: "simpsons";
  margin-top: 0px; }
  .header:last-child {
    margin-right: 0; }
  .header img {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%;
    border: 2px solid #FFC416;
    border-radius: 50px;
    margin-right: 48px;
    width: 8.17215%;
    width: 100%; }
    .header img:last-child {
      margin-right: 0; }
  .header .logo {
    display: inline-block;
    vertical-align: middle;
    width: 86px; }
  .header h1 {
    display: inline-block;
    color: #FFC416;
    line-height: 55px;
    margin-left: 30px; }
  .header #headerLogin {
    float: right;
    padding-top: 38px;
    margin-right: 177px;
    text-decoration: none;
    color: #FFC416;
    font-size: 30px; }

.head_left {
  float: left;
  width: 25%;
  margin-left: 176px;
  margin-top: 12px;
  margin-bottom: 12px; }

.clear {
  clear: both;
  display: block; }

h1 {
  margin: 0 auto; }

.login {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #FDD43D;
  border-top: 2px solid #207EBE;
  height: 100vh; }
  .login:last-child {
    margin-right: 0; }
  .login h1 {
    margin-top: 20px;
    font-family: "simpsons";
    text-align: center;
    color: #207EBE;
    margin-bottom: 20px; }
  .login .username {
    display: block;
    width: 237px;
    margin: 0 auto;
    padding-left: 10px;
    height: 30px;
    font-size: 12px;
    border-style: none;
    border: 1px dashed #F5A2AD;
    margin-bottom: 10px; }
  .login .password {
    display: block;
    width: 237px;
    margin: 0 auto;
    padding-left: 10px;
    height: 30px;
    font-size: 12px;
    border-style: none;
    border: 1px dashed #F5A2AD;
    margin-bottom: 20px; }
  .login .loginSubmit {
    width: 73px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 6px;
    border: 2px dashed #207EBE;
    background-color: #F5A2AD;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff; }
  .login a {
    width: 90px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 6px;
    border: 2px dashed #207EBE;
    background-color: #F5A2AD;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff; }

.register {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #FDD43D;
  border-top: 2px solid #207EBE;
  height: 100vh; }
  .register:last-child {
    margin-right: 0; }
  .register h1 {
    margin-top: 20px;
    font-family: "simpsons";
    text-align: center;
    color: #207EBE;
    margin-bottom: 20px; }
  .register .email {
    display: block;
    width: 237px;
    margin: 0 auto;
    padding-left: 10px;
    height: 30px;
    font-size: 12px;
    border-style: none;
    border: 1px dashed #F5A2AD;
    margin-bottom: 10px; }
  .register .password {
    display: block;
    width: 237px;
    margin: 0 auto;
    padding-left: 10px;
    height: 30px;
    font-size: 12px;
    border-style: none;
    border: 1px dashed #F5A2AD;
    margin-bottom: 10px; }
  .register .passwordconfirm {
    display: block;
    width: 237px;
    margin: 0 auto;
    padding-left: 10px;
    height: 30px;
    font-size: 12px;
    border-style: none;
    border: 1px dashed #F5A2AD;
    margin-bottom: 20px; }
  .register .registername {
    width: 221px;
    margin-top: 40px;
    text-decoration: none;
    border-radius: 6px;
    border: 2px dashed #207EBE;
    background-color: #F5A2AD;
    display: block;
    margin: 0 auto;
    font-size: 15px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff; }
    .register .registername:hover {
      color: #207EBE; }
  .register .loginSubmit {
    width: 221px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 6px;
    border: 2px dashed #207EBE;
    background-color: #F5A2AD;
    display: block;
    margin: 0 auto;
    font-size: 15px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff; }
  .register a {
    width: 221px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 6px;
    border: 2px dashed #207EBE;
    background-color: #F5A2AD;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff; }
    .register a:hover {
      color: #207EBE; }

h5 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  background: #F5A2AD; }
  h5:last-child {
    margin-right: 0; }

p {
  border: 2px solid #207EBE;
  border-radius: 6px;
  margin-top: 20px;
  clear: both; }
